.kits{
    width: $section-width;
    height: 45rem;
    background-color: $gray-background-section;
    display: flex;
    justify-content: center;
    position: relative;
    .section-tittle{
        position: absolute;
        top: 100px;
        left: 100px;
        span{
            color: $gray-letter;
            font-size: $section-tittle;
        }
    }
    .kits-gallery-wrapper{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include border;
    }
    .image-wrapper{
        margin: 0 10%;
        position: absolute;
        top: 130px;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: all 2s ease-in-out;
         .img{
        margin: 0px;
        height: 560px;
        width: 477px;
        background-color: white;
    }
        .side-panel-one{
            // @include border;
            width: 30%;
            .img:nth-child(1), .img:nth-child(2){
                margin: 5px auto;
                height:274px;
                width: 274px;
            } 
        }
        .side-panel-two{       
            // @include border;
            width: 30%;
            .img:nth-child(1), .img:nth-child(2){
                margin: 5px auto;
                height:274px;
                width: 274px;
            } 
        }
       
    }

}