//Variables

// colors
// $my-color: orange;
$gray-letter: #E4E4E4;
$white: #FFFFFF;
$gray-background-section: #707070;
$gray-background-menu: #2e2e2e;
$gray-letter-header: #9A9A9A;
// sizes
$section-tittle: 3rem;
$menu-item: 1rem;
$h2-main: 5rem;
$h2-secondary: 3.3rem;
$buy-button: 1.4rem;
$arrow-size: 12rem;
$section-height: 50rem;
$section-width: 100vw;
// others
